<div class="labs-folder" matRipple>
  <i class="far fa-minus-square"></i>
  My Reports
</div>
<div class="labs-file-wrapper">
  <div class="labs-file labs-active" matRipple>
    <i class="fas fa-chart-area"></i>
    Report 1
  </div>
</div>
<div class="labs-file-wrapper">
  <div class="labs-file" matRipple>
    <i class="fas fa-chart-bar"></i>
    Report 2
  </div>
</div>
<div class="labs-file-wrapper">
  <div class="labs-file" matRipple>
    <i class="fas fa-chart-pie"></i>
    Report 3
  </div>
</div>

<div class="labs-folder" matRipple>
  <i class="fas fa-plus-square"></i>
  Workflows
</div>

